{{page-title "MyApp"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!--<WelcomePage />--}}
{{!-- Feel free to remove this! --}}

<h1>Hello Nguyen Hoang Viet</h1>


{{outlet}}