{{page-title "Scientists"}}

<h2>List of Scientists</h2>

<ul>
  {{#each @model as |scientist|}}
    <li>{{scientist}}</li>
  {{/each}}
</ul>

<!-- gọi đến component và truyền tham số cho components -->
<PeopleList
  @title="List of Scientists"
  @people={{@model}}
/>